.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .expanded {
    display: block;
    height: 400px;
    background-color: rgb(201, 192, 192);
    border: solid;
    border-width: 1px;
    overflow: scroll;
    margin-bottom: 5%;
  }
  
 .expanded label {
    display: block;
  }

  .hide {
    display: none;
  }

  .item {
    display: flex;
    justify-content: space-between;
  }

  .item:hover {
    background-color: #1e90ff;
  }

  .label {
    margin-right: 20%;
  }

  @media only screen and (max-width:800px) {
    
    .multiselect {
      width: 60%;
      margin-left: 20%;
    }

    .selectBox select {
      height: 40px;
      font-size: x-large
    }

    .expanded {
      font-size: x-large;
      margin-bottom: 4%;
    }

    .item {
      display: flex;
      flex-direction: row-reverse;
    }

   .item input{
      width: 40px;
      height: 25px;

    }
  }