.page {
    display: flex;
    flex-direction: column;
    height: 2400px;
    background-image: url('../../wallpaper.jpg'); 
    background-size: 100vh;
}

.buttons {
    float: left;
    background-color: #5a5d63;
    margin-top: 5px;
    border-radius: 8px;
}

@media only screen and (max-width:800px) {

    .page {
        height: auto;
        width: 100vh;
        background-size: 100vh;
   }
   
    .buttons {
        margin-left: 35%;
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
   }
}