.page {
    display: flex;
    flex-direction: column;
    height: 2500px;
    background-image: url('../../wallpaper.jpg'); 
}

.buttons {
    float: left;
    background-color: #5a5d63;
    margin-top: 5px;
    border-radius: 8px;
}

@media only screen and (max-width:800px) {
   
    .buttons {
        margin-left: 35%;
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
   }

   .page {
        height: auto;
        width: 100vh;
        background-size: 100vh;
   }
}