.paginated {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16%;
}

.navigation {
    border: solid;
    width: 500px;
    background-color: #5a5d63;
    margin-bottom: 50px;
    padding-bottom: 40px;
    border-radius: 50px;
    margin-left: 33%;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 6%;
}

.link {
    width: 33%;
    text-decoration: none;
}

@media only screen and (max-width:800px) {
    .paginated {
        margin-top: 70%;
        margin-left: 7%;
        position: relative;
        width: 93%;
    }
    
    .link {
        width: 100%;
    }

    .navigation {
        margin-left: 6%;
    }

    .cards {
        width: 90%;
    }
}