.dogDetail {
    background-image: url('../../wallpaper.jpg');
    background-size: 100vh;
    height: 110vh;
}

.detail {
    display: flex;
    background-color: rgba(114, 107, 107, 0.877);
    margin: 40px;
    margin-top: 6%;
    border-radius: 50px;
}

.info {
    color: white;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 1%;
}

.imageDetail {
    width: 50%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 8%;
}

.dogName {
    margin-bottom: 50px;
    text-decoration: underline;
}

.heart {
    width: auto;
    color: white;
    border-color: transparent;
    background-color: transparent;
    font-size: x-large;
    height: 40px;
    margin-right: 18px;
    margin-top: 5px;
}

.heart:hover {
   background-color: transparent;
   color:red; 
   box-shadow: none;
}

@media only screen and (max-width:800px) {
    
    .dogDetail {
        height: auto;
        width: 100vh;
        font-size: x-large;
    }
    
    .detail {
        flex-direction: column-reverse;
        align-items: center;
    }

    .imageDetail {
        width: 90%;
        margin-bottom: 2%;
    }

    .info {
        margin-top: 0%;
    }
}